body{
    background: black;
}
#header{
    border: none;
    width: 1300px;
    height: 200px;
    margin: auto;
    background: url(images/title.jpg)top center repeat-x;
}
#nav{
    border: solid 1px black;
    width: 1300px;
    height: 20px;
    margin: auto;
}
#nav a{
    text-decoration: none;
    padding-left: 220px;
    color: red;
    font-family: 'Arvo', serif;
}
#logo{
   background: url(images/logo.png);
   width: 200px;
   height: 200px;
   position: absolute;
   padding: 10px 0 0 0;
   background-repeat: no-repeat;
}
#text span{
    color: white;
    font-size: 80px;
    font-family: 'Arvo', serif;
    background: top center;
    position: relative; left: 10px; padding-left: 30%; 
    width: 30px;
}
#var{
    margin-top: 10px;
    margin-left: 18px;
    border: solid 1px red;
    width: 250px;
    height: 300px;
    float: left;
    padding: 5px;
}
#menu a{
    text-decoration: none;
    color: red;
    padding-left: 20px;
    line-height: 3.0;
}
#content{
    border: solid 1px red;
    width: 800px;
    height: 1400px;
    float: left;
    padding: 5px;
    margin: 10px;
    color: white;
    text-align: justify;
    
}
#commercial{
    border: solid 0px red;
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px;
    margin: 10px 0 0 0;
}
#converter{
    margin: -5px 0 0 0;
    border: none;
}
#tool{
    width: 300px;
    height: 300px;
    margin: 0;
    float: left;
    padding-right: 10px;
}
#text{
       
}
#tool2{
    width: 300px;
    height: 300px;
    margin: 0;
    float: left;
    padding-right: 10px;
}
#tool3{
    width: 300px;
    height: 300px;
    margin: 0;
    float: left;
    padding-right: 10px;
}
#footer{
    border: solid 1px red;
    width: 1300px;
    height: 100px;
    margin-top: 107% ;
    margin-left: 18px;
}
#buttond{
    margin-left: 10px;
    margin-top: 30px;
}   
#buttond1{
    margin-left:200px ;
    margin-top: -33px;
}